* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #1a68b6;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background: #1a68b6;
    color: #fff;
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.posts,
.profile,
.messages,
.settings,
.friends {
    flex: 2;
    margin-right: 1rem;
}

.posts article,
.profile,
.messages,
.settings,
.friends {
    background: #f4f4f4;
    padding: 1rem;
    margin-bottom: 1rem;
}

aside {
    flex: 1;
    background: #f9f9f9;
    padding: 1rem;
}

footer {
    background: #1678b4;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}
.container img{
    width: 70px;
    height: 100px;
    

}
section img{
    width:40%;
    height: 40%;
    
}
section{
    
    width: fit-content;
    height: fit-content;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }
    .posts,
    .profile,
    .messages,
    .settings,
    .friends {
        margin-right: 0;
    }
    aside {
        margin-top: 1rem;
    }
}

